#feature{
    padding-top: 80px;
    background-image: url("../img/feature-bg.png");
    background-position: center;
    .mobile{
        position: absolute;
        bottom: -18%;
        right: 17%;
    }
}