footer{
    padding-top: 80px;
    background: #f8f8f8;
    .first-row{
       .mogo{
        .top{
            position: relative;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                right: -10px;
                background: #ccc;
                height: 1px;
                bottom: -15px;
            }
             h2{
                 text-transform: none;
                 color: #ccc;
                 &::after{
                     visibility: hidden;
                 }
             }
             p{
                 margin: 20px -10px 30px 0;
             }
             h6{
                 font-size: 14px;
                 color: black;
                 span{
                     font-weight: bold;
                     font-size: 18px;
                     margin-right: 5px;
                 }
             }
        }
        .middle{
         margin-top: 27px;
            ul{
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
                align-items: center;
                li{
                    margin-right: 5px;
                    P{
                     margin: 0;
                    }
                    a{
                        text-decoration: none;
                        color: $custom-blue;
                        padding: 7px;
                        transition: all .4s ease;
                        margin-top: 27px;
                        &:hover{
                            color: $custom-orange;
                        }
                    }
                }
            }
        }
        .bottom{
                margin-top: 40px;
            input{
             padding: 10px;
             width: 280px;
             outline-color: $custom-blue;
             border: 1px solid #ccc;
             &::placeholder{
                 color: #ccc;
                 font-style: italic;
             }
            }
            button{
                margin: 0 0 0 -5px;
                border-color: $custom-blue;
                background: $custom-blue;
                padding: 9px 30px;
                &:hover{
                    border-color: $custom-red;
                }
            }
        }
       }
       .blog{
            p{
                color: #333;
                text-transform: uppercase;
                margin-bottom: 5px;
                font-weight: bold;
                font-size: 13px
            }
            a{
                color: #999;
                text-decoration: none;
                transition: all .4s ease;
                font-style: italic;
                 &:hover{
                     color: $custom-red;
               }
           }
       }
       .instagram{
           img{
            margin-right:-3px;
            padding: 2px;
           }
           a{
                color: #333 ;
                text-decoration: none;
                transition: all .4s ease;
                font-style: italic;
                margin-top: 15px;
                 &:hover{
                     color: $custom-red;
               }
           }
       }
    }
    .second-row{
        border-top: 1px solid #ccc;
        p{
            margin: 0;
            color: #333;
            font-weight: bold;
            span{
                a{
                    text-decoration: none;
                    color:$custom-red;
                    transition: all .4s ease;
                    &:hover{
                        color: $custom-orange;
                    }
                }
            }
        }
    }
}