#service-2{
    padding: 100px 0 70px;
    .content-row{
        .right-piece{
            .bottom{
                overflow-y: scroll;
                height: 130px;
                &::-webkit-scrollbar{
                    width: 8px;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: $custom-blue;
                }
                &::-webkit-scrollbar-track{
                    background-color: #f5f5f5;
                }
            }
        }
    }
}